*.exe
.vscode
*SYM*
4/4.2/p2
4/4.2/p2.dSYM/Contents/Info.plist
4/4.2/p2.dSYM/Contents/Resources/DWARF/p2
4/4.2/p2.dSYM/Contents/Resources/Relocations/aarch64/p2.yml
4/4.2/p3
p4
p5
p6
p7
p8
p9
temp*.*
0
1
2
3
4
5
6
7
8
9
10
5/5.5/p4-2
5/5.5/p6-2
6/6.7/a.out
6/6.5/Untitled2
6/6.7/no
6/6.8/p
p3
7/7.5/p10
8/8.5/my_file.dat
